body {
    background-color: #E3ECF2;
    margin: 0;
    padding: 0;
}

/*Breakfast Bar*/
.breakfast {
    padding: 1rem;
    background-color: #F4E04D;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    box-shadow: 1px 1px 10px #313638;
}
.breakfast-gone {
    display: none;
}

/*Header Styling*/
header {
    background-color: #ffffff;
}
header {
    display: flex;
    align-items:center;
    justify-content:center;
}
.header-text {
    margin: 0;
    padding: 0;
}
.logo {
    margin: 0;
    padding: 1rem;
    height: 100px;
}
h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 2rem;
    color: #140D6F;
    text-shadow: 1px 1px 1px #313638;
    margin: 0;
}
.moto {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #140D6F;
    font-size: 1.25rem;
    text-shadow: 0px 0px 1px #313638;
}

/*Style Navigation*/
nav {
    background-color: #313638;
    padding: 1px;
    box-shadow: 1px 1px 5px #313638;
    text-align: right;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    margin: 1rem;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}
nav a:hover {
    color: #F4E04D;
}
.responsive li{
    display: block;
}
.active {
    text-decoration: underline;
    font-size: 1.5rem;
}

/*Style Main*/
h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #313638;
    text-align: right;
    color: #ffffff;
    margin: 1rem;
    position: absolute;
    right: 1rem;
    font-size: 2rem;
}
/*Style Hero*/
.hero {
    padding: 0;
    display: block;
}
.hero img {
    width: 100%;
    box-shadow: 1px 1px 10px #313638;
    padding: 0;
}
.img-large {
    display: none;
}
.weather-summary {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    /*background-color: #ffffff;
    box-shadow: 1px 1px 5px #313638;*/
    padding: 1rem;  
    text-align: center;
}
h3 {
    font-family: 'IBM Plex Serif', serif;
    color: #140D6F;
    text-shadow: 1px 1px 1px #313638;
}
.weather-summary ul {
    list-style: none;
}
/*Style 5 day*/
.five-day {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px ;
    margin: 1rem;
}
.five-day ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: 1 1 auto;
    padding: 0;
}
.five-day li {
    display: inline-block;
    flex: 1 1 auto;
}
.five-day img {
    height: 50px;
    
}
.five-day h3 {
    margin: 1rem;
}
/*Style article*/
article {
    display: block;
    margin: 1rem;
    background-color: #ffffff;
    padding-top: 0;
    box-shadow: 1px 1px 5px #313638;
    padding: 0;
    overflow: hidden;

}
article h3 {
    position: absolute;
    left: 50%;
    margin: 2rem;
    font-size: 2rem;
}
article img {
    width: 100%;
    box-shadow: 1px 1px 5px #313638;
    margin-top: -20px;
    padding: 0;
}
p {
    margin: 1rem;
}

/*Style Footer*/
footer {
    background-color: #313638;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1rem;
    font-size: .75rem;
}
.contact-info img, .social-media img {
    height: 35px;
    display: block;
    margin: 1rem;
}
.social-media img {
    display: none;
}
.map {
    width: 100%;
}
/*Image Gallery*/
.picture-gallery {
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
}
picture img{
    box-shadow: 1px 1px 3px #313638;
    margin-top: 1rem;
    width: 100%;
}
picture figcaption {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #313638;
}
.visit-counter {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #313638;
    margin: 1rem;
}



