body {
    background-color: #E3ECF2;
    margin: 0;
    padding: 0;
}

/*Breakfast Bar*/
.breakfast {
    padding: 1rem;
    background-color: #F4E04D;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    box-shadow: 1px 1px 10px #313638;
}
.breakfast-gone {
    display: none;
}

/*Header Styling*/
header {
    background-color: #313638;
    display: flex; 
    align-items: center; 
}

.header-text {
    margin: 0;
    padding: 0;
}
.logo {
    margin: 0;
    padding: 1rem;
    height: 50px;
}
h1 {
    font-family:  'Open Sans Condensed', sans-serif;
    font-size:  1.25rem;
    color: white;
    margin: 0;
}
.moto {
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #140D6F;
    font-size: 1.25rem;
    text-shadow: 0px 0px 1px #313638;
    display: none;
}

/*Style Navigation*/
nav {
    background-color: #313638;
    padding: 1px;
    box-shadow: 1px 1px 5px #313638;
    margin-left: auto;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    margin: 1rem;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
nav a {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}
nav a:hover {
    color: #F4E04D;
}
.responsive li{
    display: block;
}
.active {
    text-decoration: underline;
    font-size: 1.5rem;
}

/*Style Main*/

/*Style Hero*/
.hero-home {
    position: absolute;
    top: 14%;
    left: 20%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    text-shadow: 1px 1px 1px #313638;
    font-size: 1rem;
    letter-spacing: .2rem;
    line-height: 2.5rem;
}
.hero-home img {
    width: 100%;
}
.hero-home button {
    padding: .5rem;
    background-color: rgba(49, 54, 56,.4);
    border: 1px solid rgb(49, 54, 56);
    box-shadow: 3px 3px 5px #313638;
    border-radius: 10px;
}
.hero-home a {
    color: #F4E04D;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #313638;
    letter-spacing: .1rem;
}
.hero-home button:hover {
    background-color: rgb(49, 54, 56) ;
}

/*Style 5 day*/
.five-day {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px ;
    margin: 1rem;
}
.five-day ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: 1 1 auto;
    padding: 0;
}
.five-day li {
    display: inline-block;
    flex: 1 1 auto;
}
.five-day img {
    height: 50px;
    
}
.five-day h3 {
    margin: 1rem;
}
/*Style article*/
article img {
    width: 50%;
    float: right;
    margin: 1rem;
}
article {
    font-family: 'Merriweather', serif;
    color: #313638;
    margin: 1rem;
}
.town-card {
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 10px;

}
.town-card img {
    width: 100%;
}
.town-card h2, .town-card h3 {
    font-family: 'Open Sans Condensed', sans-serif;

    text-align: center;
}
.town-card ul {
    list-style: none;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding: 1rem;
}


/*Style Footer*/
footer {
    background-color: #313638;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1rem;
    font-size: .75rem;
    
}
.contact-info img, .social-media img {
    height: 35px;
    display: block;
    margin: 1rem;
}
.social-media img {
    display: none;
}
.map {
    width: 100%;
}
footer a {
    color: white;
}
footer a:visited {
    color: white;
}
/*Image Gallery*/
.picture-gallery {
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
}
figure img{
    box-shadow: 1px 1px 3px #313638;
    margin-top: 1rem;
    width: 100%;
}
figure figcaption {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #313638;
}
.visit-counter {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #313638;
    margin: 1rem;
}
/*Storm Center*/
label {
    display: block;
    margin: 2em;
    font-family: 'Roboto', sans-serif;
    color: #313638;
    font-size: 1.5rem;
}
input, textarea {
    display: block;
    border-radius: 4px;
    height: 50px;
    margin: 0;
    width: 95%;
}
input:required {
    border: 2px solid red;
}
#rating-display {
    display: inline;
}

form {
    margin: 5%;
}
.sbs {
    display: inline;
    margin: 1em;
    height: 25px;
    width: 25px;
}
.sbs label {
    display: inline;
}
.subbut {
    background-color: #140D6F;
    box-shadow: 3px 3px 5px #313638;
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    color: #F4E04D;
    font-size: 1.5rem;
    border: 2px solid #140D6F;
}
.subbut:hover{
    box-shadow: 5px 5px 10px #313638;
}



