table {
    margin: auto;
    box-shadow: 3px 3px 15px #7fb9c2;
    padding: 0;
    border-collapse: collapse;
}
td, th {
    border: 1px solid gray;
    margin: 0;
    padding: .5rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
thead th {
    background-color: #7fb9c2;
    
    font-size: 2rem;
}
tbody th {
    background-color: #628ca6;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}
tbody tr:nth-child(even) {
    background-color: #e7f0ed ;
}
tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}
#low-goal {
    background-color: #628ca6;
    color: white;
    font-style: normal;
}
tbody tr:nth-child(6) td:first-child {
    font-style: italic;
}
tfoot tr {
    background-color: #7fb9c2;
    font-size: .60rem;
}