@media (min-width: 32.5em) {

    nav {
        text-align: center;
        font-size: 1.5rem;
    }
  
    .weather-summary {
        background-color: #fff;
        box-shadow: 1px 1px 10px #313638;
        width: 45%;
        position: relative;
        top: -400px;
        left: 5%;
        max-width: 250px;
    }
    article img {
        width: 40%;
        float: right;
        margin: 1rem;
    }
    article h3 {
        position: static;
    }
    .five-day {
        display: block;
    }
    .social-media img {
        display: inline-block;
    }

    footer {
        font-size: 1rem;
    }
}