@media (min-width: 75em) {
    
    /*Header*/
    .logo {
        height: 100px;
    }
    header {
        padding-bottom: 3rem;
    }
    h1 {
        font-size: 4rem;
    }
    .moto {
        font-size: 1.75rem;
    }
   
    /*Navigation*/
    nav {
        top: 75%;
    }
    nav a {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

    /*Hero Banner*/
    picture img {
        width: 100%;
        object-fit: contain;
    }
    .weather-summary {
        top: 35%;
        left: 20%;
        padding: 3rem;
    }
    .hero-home {
        top: 30%;
        left: 40%;
        font-size: 1.5rem;
    }
    .hero-home button a {
        font-size: 1.5rem;
    }

    /*Article*/
    .article-home {
        width: 75%;
        margin: auto;
    }
    .article-home img {
        width: 40%;
    }
    article img {
        width: 20%;
        float: left;
    }

    /*Town Cards*/
    .town-highlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .town-card {
        display: block;
    }

    /*Weather Gallery*/
    .picture-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure img:hover {
        box-shadow: 3px 3px 7px #313638;
    }
    
    
    .box {
        font-size: 1.5rem;
        padding: 2rem;
    }

    /*Footer*/
    .map {
        width: 100%;
        margin: auto;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.5rem;
    }
    .contact-box {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        height: 75%;
    }
    .contact-info {
        margin: 0;
    }
    .footer-bar {
        grid-column: span 2;
        margin: 1rem;
    }
    
}
