@media (min-width: 32.5em) {

    /*Header*/
    header {
        background-color: white;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .header-text h1 {
        color: #140D6F;
        font-size: 2rem;
    }
    .logo {
        height: 75px;
    }

    /*Navigation*/
    nav {
        text-align: center;
        font-size: 1rem;
        width: 90%;
        margin: auto;
        position: absolute;
        top: 70%;
        right: 5%;
    }
    .navigation {
        display: flex;
        flex: 1 1 auto;
    }
    .navigation li{
        display: inline-block;
        flex: 1 1 auto;
    }
    .navigation li:first-child {
        display: none;
    }
    
    /*Hero Banner*/
    .weather-summary {
        top: 26%;
    }
    .hero-home {
        top: 22%;
        left: 35%;
    }
    .hero img {
        width: 100;
        object-fit: contain;
    }

    
    /*Five Day Forecast*/
    .forecast {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }
    .daily-forecast:nth-child(1) {
        grid-column: 1 / span 1 ;
    }
    .daily-forecast:nth-child(2) {
        grid-column: 2 / span 1 ;
    }
    .daily-forecast:nth-child(3) {
        grid-column: 3 / span 1 ;
    }
    .daily-forecast:nth-child(4) {
        grid-column: 4 / span 1 ;
    }
    .daily-forecast:nth-child(5) {
        grid-column: 5 / span 1 ;
    }
    .five-day {
        display: block;
    }

    /*Events*/
    .events {
        width: 75%;
    }
    .events ul {
        margin-left: 100px;
        margin-bottom: 2rem;
    }
    
    /*Article*/
    article img {
        width: 45%;
        float: left;
        margin-right: 1rem;
    }
    article {
        margin-bottom: 3rem;
    }
    article h3 {
        position: static;
    }
    
    /*Home Page Town Cards*/
    .town-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        margin-bottom: 1rem;
    }
    .town-card:nth-child(even) img {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .town-card:nth-child(even) div {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    /*Storm Center*/
    input {
        max-width: 800px;
    }

    .page-heading {
        margin-top: 75px;
        font-size: 2rem;
    }

    /*Weather Gallery*/
    .picture-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    
    /*Footer*/
    footer {
        font-size: 1rem;
    }
    .contact-box {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
    }
    .contact-info {
        margin: 30px;
    }
    .social-media img {
        display: inline-block;
    }
    .map {
        width: 75%;
        margin: auto;
    }
    
   
    
}